@page
@model Disable2faModel
@{
    ViewData["Title"] = "Keela kahefaktoriline autentimine (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Ttema tegevus keelab ainult 2FA.</strong>
    </p>
    <p>
        2FA keelamine ei muuda autentimisrakendustes kasutatavaid võtmeid. Kui soovite võtit vahetada
        mida peaksite kasutama autentimisrakenduses<a asp-page="./ResetAuthenticator">lähtestage oma autentimisvõtmed.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Keela 2FA</button>
    </form>
</div>
