@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Looge kahefaktorilise autentimise (2FA) taastekoode";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Pange need koodid kindlasse kohta.</strong>
    </p>
    <p>
        Kui kaotate oma seadme ja teil pole taastekoode, kaotate juurdepääsu oma kontole.
    </p>
    <p>
        Uute taastekoodide genereerimine ei muuda autentimisrakendustes kasutatavaid võtmeid. Kui soovite võtit vahetada
        mida peaksite kasutama autentimisrakenduses <a asp-page="./ResetAuthenticator">lähtestage oma autentimisvõtmed.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Looge taastekoode</button>
    </form>
</div>
