@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Lähtestage autentimisvõti";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Kui lähtestate autentimisvõtme, ei tööta teie autentimisrakendus enne, kui selle uuesti konfigureerite.</strong>
    </p>
    <p>
        See protsess keelab 2FA seni, kuni kinnitate oma autentimisrakenduse.
        Kui te autentimisrakenduse konfigureerimist lõpule ei vii, võite kaotada juurdepääsu oma kontole.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Lähtestage autentimisvõti</button>
    </form>
</div>
