@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Kahefaktoriline autentimine (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>You have no recovery codes left.</strong>
                    <p>Sa pead <a asp-page="./GenerateRecoveryCodes">looge uus taastekoodide komplekt</a>, enne kui saate taastekoodiga sisse logida.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>You have 1 recovery code left.</strong>
                    <p>Sa saad <a asp-page="./GenerateRecoveryCodes">looge uus taastekoodide komplekt</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Sul on @Model.RecoveryCodesLeft recovery codes left.</strong>
                    <p>You should <a asp-page="./GenerateRecoveryCodes">looge uus taastekoodide komplekt</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Unustage see brauser</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Keela 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Taastekoodide lähtestamine</a>
        }

        <h4>Authenticator app</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Lisage autentimisrakendus</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Seadistage autentimisrakendus</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Lähtestage autentimisrakendus</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Privaatsus- ja küpsistepoliitika ei ole aktsepteeritud.</strong>
            <p>Enne kahefaktorilise autentimise lubamist peate poliitikaga nõustuma.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
