@{
    ViewData["Title"] = "Umbles";
}

<h1>@ViewData["Title"]</h1>
<p>Meie salong pakub laias valikus professionaalseid lemmikloomahooldusteenuseid: SPA, hügieeni- ja modellilõikused, pesu, aluskarva ja sasipundaride väljakammimine, samuti kasside ettevalmistamine näituseks.</p>
<div class="container">
    <table>
        <tr>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/relaxed.png">
                        <img class="image" alt="dog spa" src="~/css/img/relaxed.png" />
                    </a>
                    <div class="desc"><p class="card">lõõgastav spaa</p></div>
                </div>
            </td>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/haircut.png">
                        <img class="image" alt="dog spa" src="~/css/img/haircut.png" />
                    </a>
                    <div class="desc"><p class="card">parim soeng</p></div>
                </div>
            </td>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/happy.png">
                        <img class="image" alt="dog spa" src="~/css/img/happy.png" />
                    </a>
                    <div class="desc"><p class="card">sõbralik personal</p></div>
                </div>
            </td>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/please_no.png">
                        <img class="image" alt="dog spa" src="~/css/img/please_no.png" />
                    </a>
                    <div class="desc"><p class="card">sasipundarid saavad puhtaks</p></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/clean.png">
                        <img class="image" alt="dog spa" src="~/css/img/clean.png" />
                    </a>
                    <div class="desc"><p class="card">su lemmikloom oleks puhas</p></div>
                </div>
            </td>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/claws.png">
                        <img class="image" alt="dog spa" src="~/css/img/claws.png" />
                    </a>
                    <div class="desc"><p class="card">ja küünised lõigatud</p></div>
                </div>
            </td>
            <td>

            </td>
        </tr>
    </table>
</div>



