@{
    ViewData["Title"] = "Meist";
}

<h1>@ViewData["Title"]</h1>
<p>Meie salong pakub laias valikus professionaalseid lemmikloomahooldusteenuseid: SPA, hügieeni- ja modellilõikused, pesu, aluskarva ja sasipundaride väljakammimine, samuti kasside ettevalmistamine näituseks.</p>
<div class="container">
    <table>
        <tr>
            <td>
                <div class="polaroid">
                    <img alt="cat spa" src="~/css/img/relaxed.png" />
                    <p>lõõgastav spaa</p>
                </div>
            </td>
            <td>
                <div class="polaroid">
                    <img alt="silly dog" src="~/css/img/haircut.png" />
                    <p>parim soeng</p>
                </div>
            </td>
            <td>
                <div class="polaroid">
                    <img alt="happy pets" src="~/css/img/happy.png" />
                    <p>sõbralik personal</p>
                </div>
            </td>
            <td>
                <div class="polaroid">
                    <img alt="cleaning dog" src="~/css/img/clean.png" />
                    <p>su lemmikloom oleks puhas</p>
                </div>
            </td>
            <td>
                <div class="polaroid">
                    <img alt="noo my claws" src="~/css/img/claws.png" />
                    <p>ja küünised lõigatud</p>
                </div>
            </td>
        </tr>
    </table>
</div>



