@{
    ViewData["Title"] = "Meist";
}

<h1>@ViewData["Title"]</h1>
<p>Meie salong pakub laias valikus professionaalseid lemmikloomahooldusteenuseid: SPA, hügieeni- ja modellilõikused, pesu, aluskarva ja sasipundaride väljakammimine, samuti kasside ettevalmistamine näituseks.</p>
<div class="container">
    <table>
        <tr>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/relaxed.png">
                        <img alt="dog spa" src="~/css/img/relaxed.png" />
                    </a>
                    <div class="desc">lõõgastav spaa</div>
                </div>
            </td>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/haircut.png">
                        <img alt="dog spa" src="~/css/img/haircut.png" />
                    </a>
                    <div class="desc">parim soeng</div>
                </div>
            </td>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/happy.png">
                        <img alt="dog spa" src="~/css/img/happy.png" />
                    </a>
                    <div class="desc">sõbralik personal</div>
                </div>
            </td>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/please_no.png">
                        <img alt="dog spa" src="~/css/img/please_no.png" />
                    </a>
                    <div class="desc">sasipundarid saavad puhtaks</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/clean.png">
                        <img alt="dog spa" src="~/css/img/clean.png" />
                    </a>
                    <div class="desc">su lemmikloom oleks puhas</div>
                </div>
            </td>
            <td>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/claws.png">
                        <img alt="dog spa" src="~/css/img/claws.png" />
                    </a>
                    <div class="desc">ja küünised lõigatud</div>
                </div>
            </td>
            <td>

            </td>
        </tr>
    </table>
</div>



