@{
    ViewData["Title"] = "Avaleht";
}
<div class="text-center" id="title">
    <h1 class="display-4">Tere tulemast PetCare</h1>
    <h2>Meie salongis</h2>
    <p class="card">Usaldades oma lemmiklooma meile, võid olla täiesti kindel, et saad ta tagasi stiilse, särava ja õnnelikuna!</p>

</div>
