@{
    ViewData["Title"] = "Teenused";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <table style="width:50%;">
        <tr><td><h2>spa-protseduurid</h2></td><td><h4>vannitamine, küünte lõikamine, puntra kammimine</h4></td></tr>
        <tr>
            <td>
                <div class="polaroid">
                    <img alt="cat spa" src="~/css/img/relaxed.png" />
                </div>
            </td>
            <td>

            </td>

        </tr>
        <tr><td><h2>hooldusprotseduurid</h2></td><td><h4>vannitamine, küünte lõikamine, puntra kammimine</h4></td></tr>
        <tr>
            <td>
                <div class="polaroid">
                    <img alt="cleaning dog" src="~/css/img/clean.png" />
                </div>
            </td>
            <td>
                <div class="polaroid">
                    <img alt="noo my claws" src="~/css/img/claws.png" />
                </div>
            </td>
        </tr>
        <tr><td><h2>loomsoeng</h2></td><td><h4>koer soeng, kass soeng</h4></td></tr>
        <tr>
            <td>
                <div class="polaroid">
                    <img alt="silly dog" src="~/css/img/haircut.png" />
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</div>
