@{
    ViewData["Title"] = "Teenused";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <table style="width:100%;">
        <tr><td><h1>spa-protseduurid </h1></td></tr>
        <tr>
            <td >
                <h3>spa-protseduurid</h3>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/relaxed.png">
                        <img alt="dog spa" src="~/css/img/relaxed.png" />
                    </a>
                    <div class="desc">spa-protseduurid - 35€</div>
                </div>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/spacat.png">
                        <img alt="cat spa" src="~/css/img/spacat.png" />
                    </a>
                    <div class="desc">spa-protseduurid - 35€</div>
                </div>
            </td>

        </tr>
        <tr><td><h1>hooldusprotseduurid </h1></td></tr>
        <tr>
            <td >
                <h3> korrastamine, küünte lõikamine, puntra kammimine</h3>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/clean.png">
                        <img alt="clean puppy" src="~/css/img/clean.png" />
                    </a>
                    <div class="desc">
                            korrastamine - 13€
                    </div>
                </div>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/claws.png">
                        <img alt="noo my claws" src="~/css/img/claws.png" />
                    </a>
                    <div class="desc">
                        puntrate välja kammimine - 10€
                    </div>
                </div>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/please_no.png">
                        <img alt="no.." src="~/css/img/please_no.png" />
                    </a>
                    <div class="desc">
                        puntrate välja kammimine - 10€
                    </div>
                </div>
            </td>
        </tr>
        <tr><td><h1>loomsoeng </h1></td></tr>
        <tr>
            <td>
                <h3> koer soeng, kass soeng</h3>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/haircut.png">
                        <img alt="silly dog" src="~/css/img/haircut.png" />
                    </a>
                    <div class="desc">
                        koersoeng - 10€
                    </div>
                </div>
                <div class="gallery">
                    <a target="_blank" href="~/css/img/haicutcat.png">
                        <img alt="silly cat" src="~/css/img/haicutcat.png" />
                    </a>
                    <div class="desc">
                        kasssoeng - 11€
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
