@model Store.Models.loom

@{
    ViewData["Title"] = "Loo uus";
}

<h1>Loo uus</h1>

<h4>loom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="suguId" class="control-label"></label>
                <select asp-for="suguId" class ="form-control" asp-items="ViewBag.suguId"></select>
            </div>
            <div class="form-group">
                <label asp-for="tervis" class="control-label"></label>
                <input asp-for="tervis" class="form-control" min="1" max="10" />
                <span asp-validation-for="tervis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="suursus" class="control-label"></label>
                <input asp-for="suursus" class="form-control" min="1" max="3"/>
                <span asp-validation-for="suursus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="viilatuupId" class="control-label"></label>
                <select asp-for="viilatuupId" class ="form-control" asp-items="ViewBag.viilatuupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="iseloomuId" class="control-label"></label>
                <select asp-for="iseloomuId" class ="form-control" asp-items="ViewBag.iseloomuId"></select>
            </div>
            <div class="form-group">
                <label asp-for="tuupId" class="control-label"></label>
                <select asp-for="tuupId" class ="form-control" asp-items="ViewBag.tuupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="vanus" class="control-label"></label>
                <input asp-for="vanus" class="form-control" min="1" max="20"/>
                <span asp-validation-for="vanus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Pärast nimekirja</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
