@model Store.Models.loom
@using Microsoft.AspNetCore.Identity
@using Store.Data
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Loo uus";
}

<h1>Lissa loomad</h1>

<h4>loom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="suguId" class="control-label"></label>
                <select asp-for="suguId" class ="form-control" asp-items="ViewBag.suguId"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="tervis" class="control-label"></label>
                <input asp-for="tervis" class="form-control" min="1" max="10" />
                <span asp-validation-for="tervis" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="suurus" class="control-label"></label>
                <input asp-for="suurus" class="form-control" min="1" max="155"/>
                <span asp-validation-for="suurus" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="viilatuupId" class="control-label"></label>
                <select asp-for="viilatuupId" class ="form-control" asp-items="ViewBag.viilatuupId"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="iseloomuId" class="control-label"></label>
                <select asp-for="iseloomuId" class ="form-control" asp-items="ViewBag.iseloomuId"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="tuupId" class="control-label"></label>
                <select asp-for="tuupId" class ="form-control" asp-items="ViewBag.tuupId"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="vanus" class="control-label"></label>
                <input asp-for="vanus" class="form-control" min="1" max="20"/>
                <span asp-validation-for="vanus" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Lissa loomad" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @{
        if (SignInManager.IsSignedIn(User))
        {
            <a asp-action="Index">pärast nimekirja</a>
        }
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
