@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    /*This app does not currently have a real email sender registered, see < a href = "https://aka.ms/aspaccountconf" > these docs </ a > for how to configure a real email sender.
    Normally this would be emailed:*/
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Konto kinnitamiseks klõpsake siin</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

