@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Parooli lähtestamise kinnitus";
}

<h1>@ViewData["Title"]</h1>
<p>
    Teie parool on lähtestatud. Palun <a asp-page="./Login">sisselogimiseks klõpsake siin</a>.
</p>
