@model Store.Models.klient
@using Microsoft.AspNetCore.Identity
@using Store.Data
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Loo uss";
}

<h1>Registreerimine klient</h1>

<h4>klient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                @{
                    {
                        if (SignInManager.IsSignedIn(User))
                        {
                            <input asp-for="Nimi" class="form-control" value="@User.Identity?.Na"/>
                        }
                        else
                        {
                            <input asp-for="Nimi" class="form-control" />
                        }
                }
                
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Perenimi" class="control-label"></label>
                <input asp-for="Perenimi" class="form-control" />
                <span asp-validation-for="Perenimi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="telefon" class="control-label"></label>
                <input asp-for="telefon" class="form-control" />
                <span asp-validation-for="telefon" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="epost" class="control-label"></label>
                <input asp-for="epost" class="form-control" />
                <span asp-validation-for="epost" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="loomId" class="control-label"></label>
                <select asp-for="loomId" class ="form-control" asp-items="ViewBag.loomId"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Registreeri" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @{if (SignInManager.IsSignedIn(User)){
            <a asp-action="Index">pärast nimekirja</a>
        }
    }
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
